<div class="col-12 col-6">
    <div class="text-center">
        <h3>Passcode Verification</h3>
        <p>Please enter the 6-digit code</p>
    </div>
    <form [formGroup]="passcodeForm" (ngSubmit)="verifyPasscode()"  >
    <div class="otp-container">
        <input type="text" formControlName="otp1" class="otp-input" maxlength="1" id="otp1" (input)="shiftToNextInput($event, 1)"
            inputmode="numeric" pattern="\d*" autocomplete="off" />
        <input type="text" formControlName="otp2" class="otp-input" maxlength="1" id="otp2" (input)="shiftToNextInput($event, 2)"
            inputmode="numeric" pattern="\d*" autocomplete="off" />
        <input type="text" formControlName="otp3" class="otp-input" maxlength="1" id="otp3" (input)="shiftToNextInput($event, 3)"
            inputmode="numeric" pattern="\d*" autocomplete="off" />
        <input type="text" formControlName="otp4" class="otp-input" maxlength="1" id="otp4" (input)="shiftToNextInput($event, 4)"
            inputmode="numeric" pattern="\d*" autocomplete="off" />
        <input type="text" formControlName="otp5" class="otp-input" maxlength="1" id="otp5" (input)="shiftToNextInput($event, 5)"
            inputmode="numeric" pattern="\d*" autocomplete="off" />
        <input type="text" formControlName="otp6" class="otp-input" maxlength="1" id="otp6" (input)="shiftToNextInput($event, 6)"
            inputmode="numeric" pattern="\d*" autocomplete="off" />
    </div>
    <div class="text-center mt-5">
        <button type="submit" class="btn btn-primary w-100 p-2" [disabled]="passcodeForm.invalid">Verify Passcode</button>
    </div>
    </form>
</div>
<div class="d-flex justify-content-center fixed-bottom m-3"  *ngIf="verifyProgress;">
    <vault-spinner-grow class="text-primary"></vault-spinner-grow>
</div>
<div class="container m-2" *ngIf="unauthUser;">
    <div class="error-container">
        <h4 class="error-title text-danger">{{error.title}}</h4>
        <p class="error-message text-danger">{{error.message}}</p>
      </div>
</div>