<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="text-center">
        <h2 class="fw-bolder theme-color-light">
            <img src="vault_logo.png" alt="managevault.com" style="width: 70px;">
            Managed Vault
        </h2>
    </div>
</div>
<div class="d-flex justify-content-center">
   <vault-spinner-grow class="theme-color-light"></vault-spinner-grow>
</div>

<nav class="navbar fixed-bottom">
    <div class="container-fluid justify-content-center">
        <span class="navbar-text text-end">© Managed Vault {{currentYear}}. All rights reserved.<br> Version
            1.0.1</span>
    </div>
</nav>