.dot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
}

.dot {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: currentcolor;
    opacity: 0;
    animation: grow 2s ease-in-out infinite;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}